.settings/
.myeclipse/
.gradle/
target/
*/.settings
*/.classpath
*/.project
.classpath
.project
.svn/
.externalToolBuilders/
gradle/
.recommenders/
.metadata/
*/node_modules
node_modules
logs/
*.iml
.flattened-pom.xml

.idea/
.idea/*.*
.idea/codeStyles/Project.xml